style
  | { style }
.counter.content
  .display
    .number
      | { data.get('handisplayo-home.order.count') || 0 }
    .name
      | Orders
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.order.revenue') || 0 }
    .name
      | Sales
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.order.shipped.count') || 0 }
    .name
      | Orders Shipped
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.order.shipped.cost') || 0 }
    .name
      | Shipping Costs
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.order.refunded.count') || 0 }
    .name
      | Full Refunds Issued
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.order.refunded.amount') || 0 }
    .name
      | Full Refunds Issued
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.order.returned.count') || 0 }
    .name
      | Returns Issued
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.user.count') || 0 }
    .name
      | Users
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.subscriber.count') || 0 }
    .name
      | Subscribers
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.product.wycdisplay3j0kFP0JBv.sold') || 0 }
    .name
      | Earbuds Sold
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.product.wycdisplay3j0kFP0JBv.shipped.count') || 0 }
    .name
      | Earbuds Shipped
  .title
    | { data.get('rangeStr') }

.counter.content
  .display
    .number
      | { data.get('handisplayo-home.product.wycdisplay3j0kFP0JBv.returned.count') || 0 }
    .name
      | Earbuds Returned
  .title
    | { data.get('rangeStr') }

