.counters
  hanzo-home-counter.content(field='order.count', name='Orders')
  hanzo-home-counter.content.good(field='order.revenue', name='Sales', format-fn='{ currencyFn }')
  hanzo-home-counter.content(field='order.shipped.count', name='Orders Shipped')
  hanzo-home-counter.content.bad(field='order.shipped.cost', name='Shipping Costs', format-fn='{ currencyFn }', negative='true')
  hanzo-home-counter.content(field='order.refunded.count', name='Full Refunds Issued')
  hanzo-home-counter.content.bad(field='order.refunded.amount', name='Refunded Amount', format-fn='{ currencyFn }', negative='true')
  hanzo-home-counter.content(field='order.returned.count', name='Returns Issued')
  hanzo-home-counter.content(field='user.count', name='Users')
  hanzo-home-counter.content(field='subscriber.count', name='Subscribers')
  hanzo-home-counter.content(field='product.wycZ3j0kFP0JBv.sold', name='Earbuds Sold')
  hanzo-home-counter.content(field='product.wycZ3j0kFP0JBv.shipped.count', name='Earbuds Shipped')
  hanzo-home-counter.content(field='product.wycZ3j0kFP0JBv.returned.count', name='Earbuds Returned')

hanzo-home-graph.content
