#page
  hanzo-home-counter
  hanzo-home-graph
    display: block

    svg
      padding: 0
      margin: 0

  .counters
    display: table
    width: 100%

  hanzo-home-counter
    column 1/4 4 0
    padding: 0 20px
    text-align: center

  .display
    .number
      font-size: 2em

  .range
    font-size: .75em
